@font-face{
	font-family: Ashbury;
	src: url("fonts/AshburyMed.otf");
}

@font-face{
	font-family: EdwardPro-Normal;
	src: url("fonts/EdwardPro-Normal.otf");
}

@font-face{
	font-family: EdwardPro-ExtraLight;
	src: url("fonts/EdwardPro-ExtraLight.otf");
}

body{
  color: black;
}

h1{
  width: 30%;
  left:40%;
  margin: auto;
  text-align: center;
  font-size: 4em;
  font-family: Ashbury;
}

h3{
  width: 30%;
  left:40%;
  margin: auto;
  text-align: center;
}

h3{
  font-family: EdwardPro-Normal;
}

p, div, ul{
  font-family: EdwardPro-ExtraLight;
  text-align: justify;
}

p, ul{
  width:60%;
  margin: auto;
}

div{
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 5%;
}

#wrapper{
  /*padding: 5%;*/
}

#fr{
  width: 40%;
  float:left;
}

#en{
  width: 40%;
  float:right;
}

.link{
  font-family: EdwardPro-ExtraLight;
  color:red;
  float: right;
  width: 100%;
  text-align: center;
	padding-top: 2%;
}
